{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="afcs_other_compensation_question_7">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <form class="form" action="afcs_other_compensation_check_your_answers" method="post">

          <span class="govuk-caption-xl">Question 8 of 8</span>
        <h1 class="govuk-heading-xl">What are the contact details of the solicitor that helped you with your claim?</h1>

        <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          Name
        </legend>
      <input class="govuk-input" id="solictor-name" name="solictor-name" type="text" value={{data['solictor-name']}}>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="solictor-name-line-1">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Address
          </legend>
          Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
        </label>
        <input class="govuk-input" id="solictor-name-line-1" name="solictor-name-line-1" type="text"  value={{data['solictor-name-line-1']}}>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="solictor-name-line-2">
          <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
        </label>
        <input class="govuk-input" id="solictor-name-line-2" name="solictor-name-line-2" type="text" value={{data['solictor-name-line-2']}}>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-town">
          Town or city
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="solictor-name-line-3" name="solictor-name-line-3" type="text" value={{data['solictor-name-line-3']}}>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-county">
          County
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="solictor-name-line-4" name="solictor-name-line-4" type="text" value={{data['solictor-name-line-4']}}>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Postcode
        </label>
        <input class="govuk-input govuk-input--width-10" id="solictor-name-line-5" name="solictor-name-line-5" type="text" value={{data['solictor-name-line-5']}} >
      </div>

      <div class="govuk-form-group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        Telephone number
      </legend>
      <input class="govuk-input" id="solictor-number" name="solictor-number" type="text" value={{data['solictor-number']}}>


      </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>
        <br/>
        <a href="application_saved" class="govuk-link govuk-link--no-visited-state">Exit and return later</a>
      </div>
    </div>


{% endblock %}
