{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="afcs_claim_2_3_developed">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="afcs_claim_6_1" method="post">

        <span class="govuk-caption-xl">Question
        </span>
      <h1 class="govuk-heading-xl">How long were you exposed to this for?</h1>

      <div class="govuk-form-group">
    <label class="govuk-label" for="exposure-time">
    Exposure time
    </label>
    <input class="govuk-input" id="exposure-time" name="exposure-time" type="text" value={{data['exposure-time']}}>


    </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
      <br/>
<a href="application_saved" class="govuk-link govuk-link--no-visited-state">Exit and return later</a>
    </div>
  </div>

{% endblock %}
