{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="afcs_personal_details_question_4">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="afcs_personal_details_question_6" method="post">

          <script type="text/javascript">
          function YesNoCheck(){
            if (document.getElementById('any-previous-claimsYes').checked) {
              document.getElementById('ifYes').style.display = 'block';
            }
            else document.getElementById('ifYes').style.display = 'none';
          }
          </script>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <span class="govuk-caption-xl">Question 4 of 6</span>
              <h1 class="govuk-heading-xl">Have you applied for compensation for a service-related injury or illness through Veterans UK previously?</h1>
              </legend>


              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="any-previous-claimsYes" name="any-previous-claims" type="radio" onclick="javascript:YesNoCheck();" value="Yes" {{ checked("any-previous-claims", "Yes") }}>
                  <label class="govuk-label govuk-radios__label" for="any-previous-claims">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="any-previous-claimsNo" name="any-previous-claims" type="radio" onclick="javascript:YesNoCheck();" value="No" {{ checked("any-previous-claims", "No") }}>
                  <label class="govuk-label govuk-radios__label" for="any-previous-claims">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group" id="ifYes" style="display:none">
            <label class="govuk-label" for="previous-claim-ref">
              Reference number of previous/current claim
            </label>
            <span id="event-name-hint" class="govuk-hint">
              We'll use this to access your records.
            </span>

            <input class="govuk-input" id="previous-claim-ref" name="previous-claim-ref" type="text" value={{data['previous-claim-ref']}}>
          </div>





          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
        <br/>
<a href="application_saved" class="govuk-link govuk-link--no-visited-state">Exit and return later</a>
</div>



    </div>
  </div>

{% endblock %}
