app/pages/start.html{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="benefits_question_3">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <script type="text/javascript">
      function YesNoCheck(){
        if (document.getElementById('DM2008yes').checked) {
          document.getElementById('ifYes').style.display = 'block';
        }
        else document.getElementById('ifYes').style.display = 'none';
      }
      </script>


      <form class="form" action="benefits_question_5" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">Question 4 of 5</span>
          <h1 class="govuk-heading-xl">Have you received payment under the Diffuse Mesothelioma 2008 Scheme?</h1>
          </legend>

<p class="govuk-body">You may be claiming for this if you were diagnosed with diffuse mesothelioma before 25 July 2012.</p>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="DM2008yes" name="DM2008" type="radio" onclick="javascript:YesNoCheck();" value="yes" {{ checked("DM2008", "Yes") }}>
                  <label class="govuk-label govuk-radios__label" for="IIDB">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="DM2008No" name="DM2008" type="radio" onclick="javascript:YesNoCheck();" value="No" {{ checked("DM2008", "No") }}>
                  <label class="govuk-label govuk-radios__label" for="IIDB">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group" id="ifYes" style="display:none">
            <h1 class="govuk-heading-m" id="IIDB-claim" class="govuk-hint">
              Please tell use the date and amount you were paid.
            </h1>
    <span id="passport-issued-hint" class="govuk-hint">
      For example, 12 11 2007
    </span>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="DM08_payday">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="DM08_payday" name="DM08_payday" type="text" pattern="[0-9]*" inputmode="numeric" value={{data['DM08_payday']}}>
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="DM08_paymonth">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="DM08_paymonth" name="DM08_paymonth" type="text" pattern="[0-9]*" inputmode="numeric" value={{data['DM08_paymonth']}}>
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="DM08_payyear">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="DM08_payyear" name="DM08_payyear" type="text" pattern="[0-9]*" inputmode="numeric" value={{data['DM08_payyear']}}>
        </div>
      </div>
      <div>
        <label class="govuk-label" for="DM08_amount">
          Amount paid
        </label>
        <input class="govuk-input" id="DM08_amount" name="DM08_amount" type="text" value={{data['DM08_amount']}}>
      </div>

    </div>

          </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

<form/>
<br/>
<a href="application_saved" class="govuk-link govuk-link--no-visited-state">Exit and return later</a>
{% endblock %}
