app/pages/start.html{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="claim_question_6">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="claim_question_8" method="post">

        <span class="govuk-caption-xl">Question 7 of 43 </span>
      <h1 class="govuk-heading-xl">Did you complete an incident report form?</h1>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

          <span id="how-contacted-conditional-hint" class="govuk-hint">
            Select one option.
          </span>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional" name="incident-report" type="radio" value="text" data-aria-controls="conditional-how-contacted-conditional" {{ checked("incident-report", "yes") }}>
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  What date did you report it?
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="incident-report-answer" type="text"  {{ checked("incident-report-answer", "") }}>
              </div>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2" {{ checked("incident-report", "no") }}>
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                No
              </label>



            </div>
          </div>
        </fieldset>
      </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

<form/>

{% endblock %}
