{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="claim_15_4_3">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
 <span class="govuk-caption-xl">Question</span>
        <h1 class="govuk-heading-xl">What were your treatment dates</h1>

        <dl class="govuk-summary-list ">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Treatment dates 1
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="claim_question_36b">
                View
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Treatment dates 2
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="personal_details_question_3">
                View
              </a>
            </dd>
          </div>
        </dl>


          <form class="form" action="claim_16" method="post">


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="expiry-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Start date
              </legend>
              <span id="expiry-hint" class="govuk-hint">
                For example, 31 3 1980
              </span>
              <div class="govuk-date-input" id="expiry">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiry-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-day" name="expiry-day" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiry-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-month" name="expiry-month" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiry-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year" name="expiry-year" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="expiry-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                End date
              </legend>
              <span id="expiry-hint" class="govuk-hint">
                For example, 31 3 1980
              </span>
              <div class="govuk-date-input" id="expiry">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiry-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-day" name="expiry-day" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiry-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-month" name="expiry-month" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiry-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year" name="expiry-year" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

<div>
<a href="#" class="govuk-link">Add another treatment date</a>
</div>
<br/>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>
        <br/>
        <a href="application_saved" class="govuk-link govuk-link--no-visited-state">Exit and return later</a>
      </div>
    </div>
  </main>
</div>

{% endblock %}
