app/pages/start.html{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="claim_question_19">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="claim_question_21" method="post">

        <script type="text/javascript">
          function YesCheck(){
            document.getElementById("form").action = "claim_question_21"
          }
          function NoCheck(){
            document.getElementById("form").action = "claim_question_26"
          }
      </script>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">Question 20 of 43 </span>
          <h1 class="govuk-heading-xl">Was this condition, injury or illness started over a period of time as opposed to a specific incident?</h1>
          </legend>
          <div class="govuk-radios" id="YesNo">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="period-of-time-yes" name="period-of-time" type="radio" onclick="javascript:YesCheck();" value="Yes" {{ checked("period-of-time", "Yes") }}>
              <label class="govuk-label govuk-radios__label" for="period-of-time">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="road-traffic-accident-no" name="period-of-time" type="radio" onclick="javascript:NoCheck();" value="No" {{ checked("period-of-time", "No") }}>
              <label class="govuk-label govuk-radios__label" for="period-of-time">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

            </div>
          </div>

        <button class="govuk-button" data-module="govuk-button" >Continue</button>

<form/>

{% endblock %}
