{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="claim_question_1">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-xl">Question 1 of </span>
    <h1 class="govuk-heading-xl">Condition/injury/illness details</h1>

<p>Claims already made
    </p>
      <dl class="govuk-summary-list ">
        <div class="govuk-summary-list__row">

          <dt class="govuk-summary-list__key">
            Claim 1
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['condition-1'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="claim_question_1">
              View
              <span class="govuk-visually-hidden">Claim 1</span>
            </a>

            <dd class="govuk-summary-list__actions">
              <a href="claim_question_1">
                Delete
                <span class="govuk-visually-hidden">Claim 1</span>
              </a>
        </div>
<dl/>
<br/>

</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

<form class="form" action="personal_details_question_2" method="post">


<h1 class="govuk-heading-l">Add another condition, injury and illness</h1>

<div class="govuk-form-group">
<label class="govuk-label" for="condition-2">
What is the condition, injury or illness you are claiming for?
</label>
<input class="govuk-input" id="condition-2" name="condition-2" type="text" value={{data['condition-2']}}>
</div>

<div class="govuk-form-group">
<label class="govuk-label" for="diagnosis">
What is the medically confirmed diagnosis if known?
</label>
<input class="govuk-input" id="diagnosis-2" name="diagnosis-2" type="text" value={{data['diagnosis-2']}}>
</div>


<label class="govuk-label" for="onset-date-2">
What was the onset date of your condition/injury or illness.
</label>
<span id="passport-issued-hint" class="govuk-hint" >
For example, 27 3 2007
</span>
<div class="govuk-date-input" id="onset-day-2" >
<div class="govuk-date-input__item">
<div class="govuk-form-group">
<label class="govuk-label govuk-date-input__label" for="onset-day-2">
Day
</label>
<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="onset-day-2" name="onset-day-2" type="number" pattern="[0-9]*" value={{data['onset-day-2']}} >
</div>
</div>
<div class="govuk-date-input__item">
<div class="govuk-form-group">
<label class="govuk-label govuk-date-input__label" for="onset-month-2">
Month
</label>
<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="onset-month-2" name="onset-month-2" type="number" pattern="[0-9]*" value={{data['onset-month-2']}}>
</div>
</div>
<div class="govuk-date-input__item">
<div class="govuk-form-group">
<label class="govuk-label govuk-date-input__label" for="onset-year-2">
Year
</label>
<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="onset-year-2" name="onset-year-2" type="number" pattern="[0-9]*" value={{data['onset-year-2']}}>
</div>
</div>
</div>

<div class="govuk-form-group">
<label class="govuk-label" for="more-detail">
Please explain why you feel it was caused by service?
</label>
<span id="more-detail-hint" class="govuk-hint">
You can provide more details of the condition, injury or illness in the following set of questions .
</span>
<textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint" value={{data['more-detail']}}></textarea>
</div>

<p>
<a class="govuk-link" href="#">Add another condition, injury or illness</a>
</p>

</form>

      <form class="form" action="#" method="post">

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>
{% endblock %}
