app/pages/start.html{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="claim_1_3_2_specific_activity">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="claim_1_3_4_specific_activity" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <span class="govuk-caption-xl">Question</span>
            <h1 class="govuk-heading-xl">Were you representing your unit at the time?</h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representing-unit" name="representing-unit" type="radio" value="yes" {{ checked("representing-unit", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="representing-unit">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representing-unit" name="representing-unit" type="radio" value="no" {{ checked("representing-unit", "no") }}>
                <label class="govuk-label govuk-radios__label" for="representing-unit">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

<form/>
<br/>
<a href="application_saved" class="govuk-link govuk-link--no-visited-state">Exit and return later</a>
{% endblock %}
