{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="claim_question_28">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <form class="form" action="claim_question_30" method="post">

          <span class="govuk-caption-xl">Question 29 of 43 </span>
        <h1 class="govuk-heading-xl">Where did you first seek medical attention?</h1>

        <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          Name
        </legend>
      <input class="govuk-input" id="name-medical-assistance" name="name-medical-assistance" type="text" value={{data['name-medical-assistance']}}>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-1">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Address
          </legend>
          Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
        </label>
        <input class="govuk-input" id="first-seek-medical-line-1" name="first-seek-medical-line-1" type="text" autocomplete="address-line1" value={{data['first-seek-medical-line-1']}}>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-2">
          <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
        </label>
        <input class="govuk-input" id="first-seek-medical-line-2" name="first-seek-medical-line-2" type="text" autocomplete="address-line2" value={{data['first-seek-medical-line-2']}}>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-town">
          Town or city
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="first-seek-medical-line-3" name="first-seek-medical-line-3" type="text" autocomplete="address-level2" value={{data['first-seek-medical-line-3']}}>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-county">
          County
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="first-seek-medical-line-4" name="first-seek-medical-line-4" type="text" value={{data['first-seek-medical-line-4']}}>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Postcode
        </label>
        <input class="govuk-input govuk-input--width-10" id="first-seek-medical-line-5" name="first-seek-medical-line-5" type="text" autocomplete="postal-code" value={{data['first-seek-medical-line-5']}}>
      </div>

      <div class="govuk-form-group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        Telephone number
      </legend>
      <input class="govuk-input" id="first-seek-medical-number" name="first-seek-medical-number" type="text" value={{data['first-seek-medical-number']}}>


      </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>
      </div>
    </div>


{% endblock %}
