{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="eligibility_2">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="eligibilty_check_your_answers" method="post">

        <span class="govuk-caption-xl">Question 4 of 4</span>
      <h1 class="govuk-heading-xl">What is your email address?</h1>



      <div class="govuk-form-group">
    <label class="govuk-label" for="service-number">
      Email address
    </label>
    <span id="email-hint" class="govuk-hint">
    We will use your email address to let you know when we have verified your identify and provide you with a link to the main application.
    </span>
    <input class="govuk-input" id="service-number" name="service-number" type="text" value={{data['email address']}}>
    </div>

    <div class="govuk-form-group">
  <label class="govuk-label" for="service-number">
Please confirm email address
  </label>
  <input class="govuk-input" id="service-number" name="service-number" type="text" value={{data['email address']}}>
  </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
      <br/>

    <a href="no_email_address" class="govuk-link govuk-link--no-visited-state">I don't have an email address</a>

    </div>
    </div>

    {% endblock %}
