
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply for compensation for a service-related injury or illness
      </h1>
      <p class="govuk-body">
You can use this service to apply for compensation for an injury, illness or condition you may have received during your service in the Armed Forces.
<br/><br/>
This service involves two schemes.
      </p>

      <p class="govuk-body govuk-!-font-weight-bold">The Armed Forces Compensation Scheme applies to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>injury or illness is due to service on or after 6th April 2005</li>
      </ul>

      <p class="govuk-body govuk-!-font-weight-bold">The War Pension Scheme applies to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>injury or illness is due to service on or before 6th April 2005</li>
      </ul>

      <h1 class="govuk-heading-m">
      What you'll need
      </h1>

      <p class="govuk-body">In order to use our online service Veterans UK will first need to verify your identity. </p>

      <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">1</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-body">
        To apply for compensation online you will need:
    </span>  </strong>
    </div>
    <p class="govuk-body"></p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your date of birth</li>
      <li>your service number</li>
      <li>your email address</li>
    </ul>

    <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">2</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-body">
    Veterans UK will use this information to verify your identify within 24 hours.
</span>  </strong>
</div>

<div class="govuk-warning-text">
<span class="govuk-warning-text__icon" aria-hidden="true">3</span>
<strong class="govuk-warning-text__text">
<span class="govuk-body">
<span class="govuk-body"> Once verified, Veterans UK will email you a link to the online service or provide you with next steps.</span>

</strong>
</div>


      <a href="eligibility_0" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    Apply for compensation online
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg>
  </a>

<br/><br/>

  <h1 class="govuk-heading-m">
    Return to an existing application
  </h1>
  <p class="govuk-body"><a id="returnToSavedApplication" href="return_to_saved_form_1">Return to a saved application</a></p>



<p class="govuk-body">If you do not have an email address then please apply by post using the details below.</p>

      <h1 class="govuk-heading-m">
        Help applying online
      </h1>

      <p class="govuk-body">Contact Veterans UK:<br/><br/>Freephone (UK only): 0808 1914 218<br/>Telephone (overseas): +44 1253 866 043<br/>Email: <a href="£">veterans-uk@mod.gov.uk</a><br/>Monday to Friday 9am to 6pm</p>

      <h1 class="govuk-heading-m">
        Apply by post
      </h1>

      <p class="govuk-body">You can apply for compensation by post by downloading and filling in an <a href="#">Armed Forces Compensation Scheme and War Pension Scheme claim form</a>

        <p class="govuk-body">We provide the service in alternative formats, including large print, braille or audio CD.<a href ="#">Please click here for more information.<a/></p>

        <p class="govuk-body"> You can fill in a paper version of this form and send it to;</p>

              <p>Veterans UK <br/>
              Ministry of Defence<br/>
              Norcross<br/>
              Thornton Cleveleys<br/>
              FY5 3WP<br/>
              United Kingdom</p>


  </div>

    </div>


{% endblock %}
