{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="index">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sorry, you can't use the online service</h1>


        <p class="govuk-body">Unfortunately you need an email address to be able to use our online service. You can apply for compensation by post by downloading and filling in an <a href="#">Armed Forces Compensation Scheme and War Pension Scheme claim form</a>

          <p class="govuk-body"> Once complete you can send it to the address below</p>

                <p>Veterans UK <br/>
                Ministry of Defence<br/>
                Norcross<br/>
                Thornton Cleveleys<br/>
                FY5 3WP<br/>
                United Kingdom</p>

<br/><br/>

  <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
  <div class="govuk-details__text">

          <p class="govuk-body"><strong>Veterans UK </strong><br/>Freephone (UK only): 0808 1914 2 18<br/>Telephone (overseas): +44 1253 866 043<br/>Email: <a href="£">veterans-uk@mod.gov.uk</a><br/>Monday to Friday 9am to 6pm</p>

    </div>
</details>

    </div>
  </div>

{% endblock %}
