{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="personal_details_question_3">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="personal_details_question_5" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <span class="govuk-caption-xl">Question 7 of 8</span>
              <h1 class="govuk-heading-xl">Which armed forces pension scheme are you a member of?</h1>
              </legend>

    <span id="how-contacted-conditional-hint" class="govuk-hint">
      Select one option.
    </span>
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="pension-type" name="pension-type" type="radio" value="1975" data-aria-controls="conditional-how-contacted-conditional" {{ checked("pension-type", "1975") }}>
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
          1975
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="pension-type" name="pension-type" type="radio" value="2005" data-aria-controls="conditional-how-contacted-conditional-2" {{ checked("pension-type", "2005") }}>
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
          2005
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="pension-type" name="pension-type" type="radio" value="2015" data-aria-controls="conditional-how-contacted-conditional-3" {{ checked("pension-type", "2015") }}>
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
          2015
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="pension-type" name="pension-type" type="radio" value="None" data-aria-controls="conditional-how-contacted-conditional-3" {{ checked("pension-type", "None") }}>
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
          None
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="pension-type" name="pension-type" type="radio" value="Other" data-aria-controls="conditional-how-contacted-conditional-3" {{ checked("pension-type", "Other") }}>
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
          Other
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-3">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-text">
            Please give details
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel">
        </div>

      </div>
    </div>
  </fieldset>
</div>

                </div>
              </div>


          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>




{% endblock %}
