{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/task-list2jobsbefore">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">
        Details of other jobs
      </h1>

      <p>Please add the details of other jobs that you have had since you left the Armed Forces in date order, do not include your current job in this section.</p>


<a href="/question21whatjob" class="govuk-link">Add job details</a>

    </div>
  </div>

{% endblock %}
