{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="service_details_question_9">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Service details</h1>

      <h2 class="govuk-heading-m">List of service periods</h2>

      <dl class="govuk-summary-list ">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Service 1
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['service-1'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="claim_question_1a">
              Change
              <span class="govuk-visually-hidden">Service periods</span>
            </a>
          </dd>

<dl/>
</div>
</div>
</div>

<br/>

<p>
<a class="govuk-link" href="service_details_check_your_answers">Add another period of service</a>
</p>

      <form action="service_details_check_your_answers" method="post" novalidate>


        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>


{% endblock %}
