{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="index">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">



<div class="govuk-panel govuk-panel--info">

<h1 class = "whitetext">You are eligible to make an online claim for an illness, injury or condition you received in service<h1/>

<p class = "whitetext">Please allow 1 hour to complete your online claim<p/>

<p class = "whitetext">To apply, you'll need:<p/>
  <ul class="govuk-list govuk-list--bullet whitetext">
    <li>contact details (phone number and address)</li>
    <li>your National Insurance number</li>
    <li>your service details</li>
    <li>reference numbers to any previous claims made to Veterans UK for a service-related injury or illness</li>
  </ul>

  <p class = "whitetext">You may also need:<p/>
    <ul class="govuk-list govuk-list--bullet whitetext">
      <li>any incident report forms</li>
      <li>any police reference numbers</li>
        <li>any documents related to your condition, if you have them (diagnosis letters or hospital correspondence)</li>
        <li>hospital details such as addresses, treatment dates and hospital record numbers</li>
        <li>details of any treatments for your condition and the names of the healthcare professionals that have treated you</li>
      </ul>

  <p class = "whitetext">At the end of the form you will have the opportunity to upload supporting documents or send them to us in the post. <br/><br/>If you're unable to upload the requested documents during the application, you can still submit the application without them.</p>


    <a href="save_progress"><button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Start application
    </button></a>

<p class = "whitetext">Or <u> save your progress and return later</u></p>
    <p class = "whitetext">You can leave this application at any point and your progress will be saved. You can return to this application at any time until 26 May 2020</p>



  <h3 class = "govuk-heading-m whitetext"> Need help filling out your application?</h3>

  <p class = "whitetext">For questions about your application please contact Veterans UK:</p>

  <p class="govuk-body whitetext">Freephone (UK only): 0808 1914 218<br/>Telephone (overseas): +44 1253 866 043<br/>Email: <u>veterans-uk@mod.gov.uk</u><br/>Monday to Friday 9am to 6pm</p>


  <p class = "whitetext">If you need support from a welfare officer to complete this application then please contact <u>Veterans Welfare service.</u></p>


</div>



<br/>


    </div>
  </div>

{% endblock %}
